@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");
@import "../base/fonts.css";
.main_wrapper {
  max-width: 1500px;
  margin: auto;
}

.loader {
  background-color: transparent;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.loader__logo {
  font-family: "Shrikhand", cursive;
  color: black;
  padding: 1rem;
}
.loader__item {
  display: block;
  width: 100px;
  height: 100px;
  border: 3px solid;
  border-radius: 100%;
  animation: load 3000ms infinite;
  margin-left: -70px;
  margin-top: -70px;
  left: 50%;
  top: 50%;
}
.loader #item1 {
  position: absolute;
  border: 3px solid rgba(147, 86, 220, 0.3);
  border-top-color: #9356DC;
  width: 8rem;
  height: 8rem;
  top: 50%;
  left: 50%;
  animation-delay: 200ms;
}
.loader #item2 {
  position: absolute;
  border: 10px solid rgba(255, 121, 218, 0.3);
  border-top-color: #FF79DA;
  width: 6rem;
  height: 6rem;
  top: 51%;
  left: 51%;
  animation-delay: 400ms;
}
.loader #item3 {
  position: absolute;
  border: 5px solid rgba(153, 226, 208, 0.3);
  border-top-color: #99E2D0;
  width: 4rem;
  height: 4rem;
  top: 52%;
  left: 52%;
  animation-delay: 600ms;
}

@keyframes load {
  0% {
    transform: rotate 0deg;
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}
header a {
  margin: 1rem;
}
@media screen and (min-width: 800px) {
  header {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1400px) {
  header {
    width: 100%;
  }
}

.search {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.search .search__bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}
@media screen and (min-width: 1400px) {
  .search .search__bar {
    border-radius: 15px 15px 0px 0px;
  }
}
.search .search__bar p {
  margin: 1rem;
}
@media screen and (min-width: 800px) {
  .search .search__bar p {
    font-size: large;
  }
}

.main_title {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .main_title {
    font-size: x-large;
    align-items: flex-start;
  }
  .main_title h2 {
    margin: 1rem 0rem;
  }
  .main_title h4 {
    font-size: large;
  }
}
@media screen and (min-width: 800px) and (min-width: 1000px) {
  .main_title {
    background: rgba(255, 121, 218, 0.3);
    background: linear-gradient(180deg, rgba(255, 121, 218, 0.3) 0%, rgba(153, 226, 208, 0.3) 100%);
    border-radius: 0px 0px 15px 15px;
  }
}

.main_title__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}
@media screen and (min-width: 800px) {
  .main_title__btn {
    width: 30%;
    justify-content: flex-start;
    margin: 0rem;
  }
}
.main_title__btn button {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  position: relative;
  z-index: 1;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: small;
  border-radius: 15px;
  border: 0px;
  padding: 10px;
  margin: 2rem 0rem;
  box-shadow: 10px 10px 10px rgba(217, 217, 217, 0.5);
}
.main_title__btn button:hover::after {
  opacity: 1;
}
.main_title__btn button::after {
  content: "";
  position: absolute;
  border-radius: 15px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, #ff93e1 10%, #8641d8 100%);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  box-shadow: 15px 15px 15px rgba(217, 217, 217, 0.7);
}

.functioning {
  padding: 2rem 0;
  margin: 1rem;
}
@media screen and (min-width: 1000px) {
  .functioning {
    margin: auto;
  }
}
@media screen and (min-width: 800px) {
  .functioning h2 {
    margin: 1rem 2rem;
    font-size: x-large;
  }
}
.functioning__steps {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
@media screen and (min-width: 800px) {
  .functioning__steps {
    flex-direction: row;
  }
}
.functioning__steps__step {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(217, 217, 217, 0.5);
  margin: 0.5rem;
  padding: 0.5rem;
}
@media screen and (min-width: 800px) {
  .functioning__steps__step {
    margin: 1rem;
    width: 100%;
  }
}
.functioning__steps__step i {
  color: #7e7e7e;
  margin: 1rem;
}
.functioning__steps__step__order {
  position: absolute;
  z-index: 1;
  left: -3%;
  height: 20px;
  width: 20px;
  background-color: #9356DC;
  color: white;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
}
.functioning__steps__step:hover {
  background-color: #f5edff;
}
.functioning__steps__step:hover i {
  color: #9356DC;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 2rem 0;
}
@media screen and (min-width: 800px) {
  .restaurants {
    border-radius: 20px;
    margin: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.restaurants h2 {
  margin: 1rem;
}
@media screen and (min-width: 800px) {
  .restaurants h2 {
    margin: 1rem 3rem;
    font-size: x-large;
  }
}
.restaurants .restaurants__thumbnails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 800px) {
  .restaurants .restaurants__thumbnails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.restaurants .restaurants__thumbnails .thumbnail_restaurant {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(217, 217, 217, 0.5);
  text-decoration: none;
  margin: 15px;
  height: 17rem;
}
@media screen and (min-width: 800px) {
  .restaurants .restaurants__thumbnails .thumbnail_restaurant {
    margin: 2rem;
    width: 20rem;
  }
}
@media screen and (min-width: 1000px) {
  .restaurants .restaurants__thumbnails .thumbnail_restaurant {
    width: 30rem;
    height: 20rem;
  }
}
.restaurants .restaurants__thumbnails .thumbnail_restaurant__picture {
  width: 100%;
  height: 70%;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}
.restaurants .restaurants__thumbnails .thumbnail_restaurant__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 30%;
}
.restaurants .restaurants__thumbnails .thumbnail_restaurant__content__name {
  display: flex;
  flex-direction: column;
}
.restaurants .restaurants__thumbnails .thumbnail_restaurant__content__hearts {
  display: flex;
}
.restaurants .restaurants__thumbnails .thumbnail_restaurant__content__hearts .far {
  position: absolute;
  color: black;
  z-index: 1;
}
.restaurants .restaurants__thumbnails .thumbnail_restaurant__content__hearts .fas {
  position: relative;
  z-index: -1;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.restaurants .restaurants__thumbnails .thumbnail_restaurant__content__hearts:hover .far {
  position: relative;
  z-index: 1;
}
.restaurants .restaurants__thumbnails .thumbnail_restaurant__content__hearts:hover .fas {
  display: block;
  position: absolute;
  z-index: 0;
  opacity: 1;
  background: linear-gradient(45deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurants .restaurants__thumbnails .thumbnail_restaurant--new {
  position: absolute;
  z-index: 1;
  top: 5%;
  right: 5%;
  background-color: #99E2D0;
  color: #1f8766;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

.footer {
  background-color: #343434;
  align-items: center;
}
.footer__content {
  padding: 0.5rem 0rem;
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .footer__content {
    width: 100%;
    max-width: 1500px;
  }
}
.footer h1 {
  font-family: "Shrikhand", cursive;
  color: white;
  padding: 1rem;
}
@media screen and (min-width: 1400px) {
  .footer h1 {
    padding: 0 2rem;
  }
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer ul {
  list-style-type: none;
  padding: 0px;
}
@media screen and (min-width: 1400px) {
  .footer ul {
    padding: 0 2rem;
  }
}
.footer li {
  margin: 1rem;
}
.footer li ::before {
  color: white;
  margin-right: 10px;
}

/*# sourceMappingURL=styles.css.map */
