@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");
@import "../base/fonts.css";
.main_wrapper {
  max-width: 1500px;
  margin: auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}
header a {
  margin: 1rem;
}
@media screen and (min-width: 800px) {
  header {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1400px) {
  header {
    width: 100%;
  }
}

.search {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.search .search__bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}
@media screen and (min-width: 1400px) {
  .search .search__bar {
    border-radius: 15px 15px 0px 0px;
  }
}
.search .search__bar p {
  margin: 1rem;
}
@media screen and (min-width: 800px) {
  .search .search__bar p {
    font-size: large;
  }
}
.search .main_title {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .search .main_title {
    font-size: x-large;
    align-items: flex-start;
  }
  .search .main_title h2 {
    margin: 1rem 0rem;
  }
  .search .main_title h4 {
    font-size: large;
  }
}
@media screen and (min-width: 800px) and (min-width: 1000px) {
  .search .main_title {
    background: rgba(255, 121, 218, 0.3);
    background: linear-gradient(180deg, rgba(255, 121, 218, 0.3) 0%, rgba(153, 226, 208, 0.3) 100%);
    border-radius: 0px 0px 15px 15px;
  }
}
.search .main_title__btn {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 60%;
  border: 0rem;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: small;
  border-radius: 15px;
  padding: 10px;
  margin: 2rem 0rem;
  box-shadow: 5px 5px 10px #D9D9D9;
}
.search .main_title__btn:hover {
  opacity: 0.8;
  box-shadow: 15px 15px 15px #D9D9D9;
}
@media screen and (min-width: 800px) {
  .search .main_title__btn {
    width: 30%;
    align-self: flex-start;
  }
}

.functioning {
  padding: 2rem 0;
  margin: 1rem;
}
@media screen and (min-width: 1000px) {
  .functioning {
    margin: auto;
  }
}
@media screen and (min-width: 800px) {
  .functioning h2 {
    margin: 1rem 2rem;
    font-size: x-large;
  }
}
.functioning__steps {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
@media screen and (min-width: 800px) {
  .functioning__steps {
    flex-direction: row;
  }
}
.functioning__steps__step {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #D9D9D9;
  margin: 0.5rem;
  padding: 0.5rem;
}
@media screen and (min-width: 800px) {
  .functioning__steps__step {
    margin: 1rem;
    width: 100%;
  }
}
.functioning__steps__step i {
  color: #7e7e7e;
  margin: 1rem;
}
.functioning__steps__step__order {
  position: absolute;
  z-index: 1;
  left: -3%;
  height: 20px;
  width: 20px;
  background-color: #9356DC;
  color: white;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
}
.functioning__steps__step:hover {
  background-color: #f5edff;
}
.functioning__steps__step:hover i {
  color: #9356DC;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 2rem 0;
}
@media screen and (min-width: 800px) {
  .restaurants {
    border-radius: 20px;
    margin: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.restaurants h2 {
  margin: 1rem;
}
@media screen and (min-width: 800px) {
  .restaurants h2 {
    margin: 1rem 3rem;
    font-size: x-large;
  }
}
.restaurants .restaurants__thumbnails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 800px) {
  .restaurants .restaurants__thumbnails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.restaurants .restaurants__thumbnails .thumbnail_restaurant {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #D9D9D9;
  text-decoration: none;
  margin: 15px;
  height: 17rem;
}
@media screen and (min-width: 800px) {
  .restaurants .restaurants__thumbnails .thumbnail_restaurant {
    margin: 2rem;
    width: 20rem;
  }
}
@media screen and (min-width: 1000px) {
  .restaurants .restaurants__thumbnails .thumbnail_restaurant {
    width: 30rem;
    height: 20rem;
  }
}
.restaurants .restaurants__thumbnails .thumbnail_restaurant__picture {
  width: 100%;
  height: 70%;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}
.restaurants .restaurants__thumbnails .thumbnail_restaurant__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 30%;
}
.restaurants .restaurants__thumbnails .thumbnail_restaurant__content__name {
  display: flex;
  flex-direction: column;
}
.restaurants .restaurants__thumbnails .thumbnail_restaurant--new {
  position: absolute;
  z-index: 1;
  top: 5%;
  right: 5%;
  background-color: #99E2D0;
  color: #1f8766;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

.footer {
  background-color: #343434;
  align-items: center;
}
.footer__content {
  padding: 0.5rem 0rem;
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .footer__content {
    width: 100%;
    max-width: 1500px;
  }
}
.footer h1 {
  font-family: "Shrikhand", cursive;
  color: white;
  padding: 1rem;
}
@media screen and (min-width: 1400px) {
  .footer h1 {
    padding: 0 2rem;
  }
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer ul {
  list-style-type: none;
  padding: 0px;
}
@media screen and (min-width: 1400px) {
  .footer ul {
    padding: 0 2rem;
  }
}
.footer li {
  margin: 1rem;
}
.footer li ::before {
  color: white;
  margin-right: 10px;
}

/*# sourceMappingURL=styles.css.map */
