$color-primary:  #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$bg-color: #F6F6F6;
$shadow: 5px 5px 10px #D9D9D9;
$shadow_hovered: 15px 15px 15px #D9D9D9;
$nb_courses_items: 10;
$nb_courses: 3;

$anim_duration: 1000ms;
$anim_delay: $anim_duration / $nb_courses_items;

$breakpoints:(
  tablet: 800px, desktop: 1000px, larger-desktop: 1400px
);