// colors
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$bg-color: #f6f6f6;

//global
$shadow: 10px 10px 10px rgba(#7e7e7e, 0.3);
$shadow-hovered: 15px 15px 15px rgba(#7e7e7e, 0.5);
$nb_courses_items: 10;
$nb_courses: 3;

//animations
$anim_duration: 1000ms;
$anim_delay: $anim_duration / $nb_courses_items;

//responsiveness
$breakpoints: (
  tablet: 850px,
  desktop: 1000px,
  larger-desktop: 1400px
);

//buttons
$button-border-radius: 30px;
$button-bg-color: linear-gradient($color-secondary, $color-primary);
