@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
  color: black;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: larger;
  font-weight: bold;
  color: black;
  margin: 0.5rem;
}

h2 {
  font-size: x-large;
  color: black;
  margin: 0.5rem;
}

h3 {
  font-size: large;
  font-weight: bold;
  color: black;
  margin: 0.1rem;
}

h4 {
  font-size: large;
  font-weight: lighter;
  color: black;
  margin: 0.1rem;
}

p {
  font-size: large;
  font-weight: normal;
  margin: 0px;
}

.explore_button {
  display: inline-block;
  text-decoration: none;
  position: relative;
  z-index: 1;
  width: 50%;
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  font-size: small;
  border-radius: 30px;
  padding: 15px 30px;
  margin: 2rem 0.2rem;
  box-shadow: 10px 10px 10px rgba(126, 126, 126, 0.3);
}
.explore_button:hover::after {
  opacity: 1;
}
.explore_button::after {
  content: "";
  position: absolute;
  border-radius: 30px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, #ff93e1 10%, #8641d8 100%);
  opacity: 0;
  z-index: -1;
  transition: opacity 300ms;
  box-shadow: 15px 15px 15px rgba(126, 126, 126, 0.5);
}
@media screen and (min-width: 850px) {
  .explore_button {
    width: 30%;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button .order_button {
  display: block;
  text-decoration: none;
  position: relative;
  z-index: 1;
  width: 40%;
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  font-size: small;
  border-radius: 30px;
  padding: 15px 30px;
  margin: 2rem 0.2rem;
  box-shadow: 10px 10px 10px rgba(126, 126, 126, 0.3);
  text-align: center;
}
.button .order_button:hover::after {
  opacity: 1;
}
.button .order_button::after {
  content: "";
  position: absolute;
  border-radius: 30px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, #ff93e1 10%, #8641d8 100%);
  opacity: 0;
  z-index: -1;
  transition: opacity 300ms;
  box-shadow: 15px 15px 15px rgba(126, 126, 126, 0.5);
}

.button_home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: none;
  cursor: pointer;
  background-color: #cbcbcb;
  height: 2rem;
  width: 2rem;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.button_home i {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: #000000;
  text-decoration: none;
}
.button_home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #ff79da, #9356dc);
  opacity: 0;
  height: 100%;
  width: 100%;
  transition: 1s;
  transform: translateY(3rem);
}
.button_home .far {
  opacity: 1;
}
.button_home .fas {
  opacity: 0;
}
.button_home:hover::before {
  z-index: 0;
  opacity: 1;
  transform: translateY(0);
}
.button_home:hover .far {
  z-index: -1;
  opacity: 0;
}
.button_home:hover .fas {
  z-index: 1;
  opacity: 1;
  mix-blend-mode: lighten;
}

.button_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: none;
  cursor: pointer;
  background-color: #cbcbcb;
  height: 2rem;
  width: 2rem;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.button_menu i {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #f6f6f6;
  color: #000000;
  text-decoration: none;
}
.button_menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #ff79da, #9356dc);
  opacity: 0;
  height: 100%;
  width: 100%;
  transition: 1s;
  transform: translateY(3rem);
}
.button_menu .far {
  opacity: 1;
}
.button_menu .fas {
  opacity: 0;
}
.button_menu:hover::before {
  z-index: 0;
  opacity: 1;
  transform: translateY(0);
}
.button_menu:hover .far {
  z-index: -1;
  opacity: 0;
}
.button_menu:hover .fas {
  z-index: 1;
  opacity: 1;
  mix-blend-mode: lighten;
}

.loader {
  background-color: #f6f6f6;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  animation: fadeout 500ms ease-in-out 4500ms forwards;
}
.loader__letter {
  font-family: Shrikhand, serif;
  font-size: 3rem;
  letter-spacing: 2px;
  display: inline-block;
}
.loader__letter:nth-child(1) {
  animation: bounce 1.5s calc(150ms * 1), color 1.5s ease-in-out 2.8s;
}
.loader__letter:nth-child(2) {
  animation: bounce 1.5s calc(150ms * 2), color 1.5s ease-in-out 2.8s;
}
.loader__letter:nth-child(3) {
  animation: bounce 1.5s calc(150ms * 3), color 1.5s ease-in-out 2.8s;
}
.loader__letter:nth-child(4) {
  animation: bounce 1.5s calc(150ms * 4), color 1.5s ease-in-out 2.8s;
}
.loader__letter:nth-child(5) {
  animation: bounce 1.5s calc(150ms * 5), color 1.5s ease-in-out 2.8s;
}
.loader__letter:nth-child(6) {
  animation: bounce 1.5s calc(150ms * 6), color 1.5s ease-in-out 2.8s;
}
.loader__letter:nth-child(7) {
  animation: bounce 1.5s calc(150ms * 7), color 1.5s ease-in-out 2.8s;
}
.loader__letter:nth-child(8) {
  animation: bounce 1.5s calc(150ms * 8), color 1.5s ease-in-out 2.8s;
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: scaleY(1) translateY(-1rem);
  }
  25% {
    opacity: 0.5;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: scaleY(0.5);
  }
  75% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes color {
  0% {
    opacity: 0.3;
    color: #9356dc;
  }
  10% {
    opacity: 0.5;
    color: #ff79da;
  }
  20% {
    opacity: 0.5;
    color: #99e2d0;
  }
  30% {
    opacity: 1;
    color: #ff79da;
  }
  40% {
    opacity: 1;
    color: #9356dc;
  }
  50% {
    opacity: 1;
    color: #ff79da;
  }
  60% {
    opacity: 1;
    color: #99e2d0;
  }
  70% {
    opacity: 1;
    color: #9356dc;
  }
  80% {
    opacity: 1;
    color: #ff79da;
  }
  90% {
    opacity: 0.5;
    color: #99e2d0;
  }
  100% {
    opacity: 0.5;
    color: #ff79da;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.header_home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}
.header_home a {
  margin: 1rem;
}
@media screen and (min-width: 850px) {
  .header_home {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1000px) {
  .header_home {
    width: 100%;
  }
}

.header_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}
.header_menu a {
  text-decoration: none;
}
.header_menu .logo {
  margin: 1rem 0;
}
.header_menu i {
  display: block;
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  color: black;
}
@media screen and (min-width: 850px) {
  .header_menu {
    justify-content: space-between;
  }
  .header_menu .logo {
    margin: 1rem;
  }
}

.footer {
  background-color: #343434;
  padding: 0.5rem;
}
.footer .footer__wrapper {
  max-width: 1400px;
  margin: 0 auto;
}
.footer h1 {
  font-family: "Shrikhand", cursive;
  color: white;
  padding: 1rem;
  margin: 0rem;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer ul {
  list-style-type: none;
  padding: 0px;
}
.footer li {
  margin: 1rem;
}
.footer li ::before {
  color: white;
  margin-right: 10px;
}

.courses_main {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1000px) {
  .courses_main {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    justify-content: center;
  }
}

.courses {
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem;
}
.courses h2 {
  font-weight: lighter;
  font-size: large;
  margin: 1rem;
}
.courses h2::after {
  content: "";
  position: absolute;
  height: 2px;
  top: 2.7rem;
  left: 1rem;
  width: 2.5rem;
  background: #99e2d0;
}
@media screen and (min-width: 1000px) {
  .courses {
    margin: 0rem 1rem;
    width: 30%;
  }
}
.courses__item {
  display: flex;
  border-radius: 15px;
  background-color: white;
  margin: 0.5rem;
  overflow: hidden;
  width: 95%;
  box-shadow: 10px 10px 10px rgba(126, 126, 126, 0.3);
}
.courses__item__content {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  transition: width 500ms;
  padding: 0.5rem;
}
.courses__item__content h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.courses__item__content__description_and_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.courses__item__content__description_and_price h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.courses__item__content__description_and_price p {
  margin: 0 1rem;
}
.courses__item__checked {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  border-radius: 0px 15px 15px 0px;
  overflow: hidden;
  width: 0%;
  transition: width 500ms;
}
.courses__item__checked i {
  color: white;
  justify-content: center;
  align-items: center;
  transform: rotate(-1turn);
  transition: transform 400ms ease-in-out;
}
.courses__item:hover .courses__item__content {
  width: 80%;
}
.courses__item:hover .courses__item__checked {
  width: 20%;
}
.courses__item:hover .courses__item__checked i {
  transform: rotate(0turn);
}

.courses--1 {
  animation: courses_items_appear 1000ms forwards;
  animation-delay: 100ms;
}
.courses--2 {
  animation: courses_items_appear 1000ms forwards;
  animation-delay: 200ms;
}
.courses--3 {
  animation: courses_items_appear 1000ms forwards;
  animation-delay: 300ms;
}

@keyframes courses_items_appear {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.restaurant__picture {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 12rem;
}
@media screen and (min-width: 1000px) {
  .restaurant__picture {
    height: 20rem;
  }
}

.menu {
  margin-top: 10rem;
  background-color: #f6f6f6;
  position: relative;
  z-index: 1;
  padding-bottom: 2rem;
  border-radius: 30px;
}
@media screen and (min-width: 1000px) {
  .menu {
    margin-top: 20rem;
  }
}
.menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}
.menu__title h2 {
  display: flex;
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 1rem;
}
@media screen and (min-width: 1000px) {
  .menu__title h2 {
    font-size: xx-large;
    margin: 2rem;
  }
}

/*# sourceMappingURL=index.css.map */
