/* Error: Undefined mixin.
 *    ,
 * 12 | /     @include larger-desktop {
 * 13 | |       border-radius: 15px 15px 0px 0px;
 * 14 | \     }
 *    '
 *   styles/pages/home/search.scss 12:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 12 \2502  \250c      @include larger-desktop {\a 13 \2502  \2502        border-radius: 15px 15px 0px 0px;\a 14 \2502  \2514      }\a    \2575 \a   styles/pages/home/search.scss 12:5  root stylesheet";
}
