@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");
@import "../base/fonts.css";
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}
header a {
  margin: 1rem;
  text-decoration: none;
}
header i {
  display: inline-flex;
  align-self: center;
  color: black;
}
@media screen and (min-width: 1000px) {
  header {
    justify-content: space-between;
  }
}

.restaurant__picture {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 11rem;
}
@media screen and (min-width: 1000px) {
  .restaurant__picture {
    height: 20rem;
  }
}

.menu {
  margin-top: 10rem;
  background-color: #F6F6F6;
  position: relative;
  z-index: 1;
  border-radius: 20px 20px 0px 0px;
}
@media screen and (min-width: 1000px) {
  .menu {
    margin-top: 20rem;
  }
}
.menu__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 1000px) {
  .menu__title {
    justify-content: space-between;
    margin: 2rem;
  }
}
.menu__title h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 1rem;
}
@media screen and (min-width: 1000px) {
  .menu__title h1 {
    font-size: xx-large;
    margin: 2rem;
  }
}
@media screen and (min-width: 1400px) {
  .menu__title h1 {
    font-size: xxx-large;
    margin: 2rem;
  }
}
.menu .courses_main {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .menu .courses_main {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    justify-content: center;
  }
}
.menu .courses_main .courses {
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem;
}
.menu .courses_main .courses h2 {
  font-weight: lighter;
  font-size: large;
  margin: 1rem;
}
@media screen and (min-width: 1400px) {
  .menu .courses_main .courses {
    margin: 0rem 1rem;
  }
}
.menu .courses_main .courses__item--1 {
  display: flex;
  border-radius: 15px;
  background-color: white;
  margin: 1rem;
  overflow: hidden;
  animation: courses_items_appear 1000ms forwards;
  animation-delay: 100ms;
}
.menu .courses_main .courses__item--1__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-overflow: ellipsis;
}
.menu .courses_main .courses__item--1__content h3 {
  padding: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .courses_main .courses__item--1__content__description_and_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.menu .courses_main .courses__item--1__content__description_and_price h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .courses_main .courses__item--1__content__description_and_price p {
  margin: 0 1rem;
}
.menu .courses_main .courses__item--1__checked {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  overflow: hidden;
  animation: checked_hover_out 400ms forwards;
}
.menu .courses_main .courses__item--1__checked i {
  color: white;
  justify-content: center;
  align-items: center;
}
.menu .courses_main .courses__item--1:hover .courses__item--1__content {
  animation: content_hover_in 500ms forwards;
}
.menu .courses_main .courses__item--1:not(:hover) .courses__item--1__content {
  animation: content_hover_out 500ms forwards;
}
.menu .courses_main .courses__item--1:hover .courses__item--1__checked {
  min-width: 20%;
  animation: checked_hover_in 500ms forwards;
}
.menu .courses_main .courses__item--1:hover .courses__item--1__checked i {
  animation: checked_hover_i_in 500ms forwards;
}
.menu .courses_main .courses__item--1:not(:hover) .courses__item--1__checked {
  animation: checked_hover_out 500ms forwards;
}
.menu .courses_main .courses__item--2 {
  display: flex;
  border-radius: 15px;
  background-color: white;
  margin: 1rem;
  overflow: hidden;
  animation: courses_items_appear 1000ms forwards;
  animation-delay: 200ms;
}
.menu .courses_main .courses__item--2__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-overflow: ellipsis;
}
.menu .courses_main .courses__item--2__content h3 {
  padding: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .courses_main .courses__item--2__content__description_and_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.menu .courses_main .courses__item--2__content__description_and_price h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .courses_main .courses__item--2__content__description_and_price p {
  margin: 0 1rem;
}
.menu .courses_main .courses__item--2__checked {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  overflow: hidden;
  animation: checked_hover_out 400ms forwards;
}
.menu .courses_main .courses__item--2__checked i {
  color: white;
  justify-content: center;
  align-items: center;
}
.menu .courses_main .courses__item--2:hover .courses__item--2__content {
  animation: content_hover_in 500ms forwards;
}
.menu .courses_main .courses__item--2:not(:hover) .courses__item--2__content {
  animation: content_hover_out 500ms forwards;
}
.menu .courses_main .courses__item--2:hover .courses__item--2__checked {
  min-width: 20%;
  animation: checked_hover_in 500ms forwards;
}
.menu .courses_main .courses__item--2:hover .courses__item--2__checked i {
  animation: checked_hover_i_in 500ms forwards;
}
.menu .courses_main .courses__item--2:not(:hover) .courses__item--2__checked {
  animation: checked_hover_out 500ms forwards;
}
.menu .courses_main .courses__item--3 {
  display: flex;
  border-radius: 15px;
  background-color: white;
  margin: 1rem;
  overflow: hidden;
  animation: courses_items_appear 1000ms forwards;
  animation-delay: 300ms;
}
.menu .courses_main .courses__item--3__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-overflow: ellipsis;
}
.menu .courses_main .courses__item--3__content h3 {
  padding: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .courses_main .courses__item--3__content__description_and_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.menu .courses_main .courses__item--3__content__description_and_price h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .courses_main .courses__item--3__content__description_and_price p {
  margin: 0 1rem;
}
.menu .courses_main .courses__item--3__checked {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  overflow: hidden;
  animation: checked_hover_out 400ms forwards;
}
.menu .courses_main .courses__item--3__checked i {
  color: white;
  justify-content: center;
  align-items: center;
}
.menu .courses_main .courses__item--3:hover .courses__item--3__content {
  animation: content_hover_in 500ms forwards;
}
.menu .courses_main .courses__item--3:not(:hover) .courses__item--3__content {
  animation: content_hover_out 500ms forwards;
}
.menu .courses_main .courses__item--3:hover .courses__item--3__checked {
  min-width: 20%;
  animation: checked_hover_in 500ms forwards;
}
.menu .courses_main .courses__item--3:hover .courses__item--3__checked i {
  animation: checked_hover_i_in 500ms forwards;
}
.menu .courses_main .courses__item--3:not(:hover) .courses__item--3__checked {
  animation: checked_hover_out 500ms forwards;
}
.menu .courses_main .courses__item--4 {
  display: flex;
  border-radius: 15px;
  background-color: white;
  margin: 1rem;
  overflow: hidden;
  animation: courses_items_appear 1000ms forwards;
  animation-delay: 400ms;
}
.menu .courses_main .courses__item--4__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-overflow: ellipsis;
}
.menu .courses_main .courses__item--4__content h3 {
  padding: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .courses_main .courses__item--4__content__description_and_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.menu .courses_main .courses__item--4__content__description_and_price h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .courses_main .courses__item--4__content__description_and_price p {
  margin: 0 1rem;
}
.menu .courses_main .courses__item--4__checked {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  overflow: hidden;
  animation: checked_hover_out 400ms forwards;
}
.menu .courses_main .courses__item--4__checked i {
  color: white;
  justify-content: center;
  align-items: center;
}
.menu .courses_main .courses__item--4:hover .courses__item--4__content {
  animation: content_hover_in 500ms forwards;
}
.menu .courses_main .courses__item--4:not(:hover) .courses__item--4__content {
  animation: content_hover_out 500ms forwards;
}
.menu .courses_main .courses__item--4:hover .courses__item--4__checked {
  min-width: 20%;
  animation: checked_hover_in 500ms forwards;
}
.menu .courses_main .courses__item--4:hover .courses__item--4__checked i {
  animation: checked_hover_i_in 500ms forwards;
}
.menu .courses_main .courses__item--4:not(:hover) .courses__item--4__checked {
  animation: checked_hover_out 500ms forwards;
}
.menu .courses_main .courses__item--5 {
  display: flex;
  border-radius: 15px;
  background-color: white;
  margin: 1rem;
  overflow: hidden;
  animation: courses_items_appear 1000ms forwards;
  animation-delay: 500ms;
}
.menu .courses_main .courses__item--5__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-overflow: ellipsis;
}
.menu .courses_main .courses__item--5__content h3 {
  padding: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .courses_main .courses__item--5__content__description_and_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.menu .courses_main .courses__item--5__content__description_and_price h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .courses_main .courses__item--5__content__description_and_price p {
  margin: 0 1rem;
}
.menu .courses_main .courses__item--5__checked {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  overflow: hidden;
  animation: checked_hover_out 400ms forwards;
}
.menu .courses_main .courses__item--5__checked i {
  color: white;
  justify-content: center;
  align-items: center;
}
.menu .courses_main .courses__item--5:hover .courses__item--5__content {
  animation: content_hover_in 500ms forwards;
}
.menu .courses_main .courses__item--5:not(:hover) .courses__item--5__content {
  animation: content_hover_out 500ms forwards;
}
.menu .courses_main .courses__item--5:hover .courses__item--5__checked {
  min-width: 20%;
  animation: checked_hover_in 500ms forwards;
}
.menu .courses_main .courses__item--5:hover .courses__item--5__checked i {
  animation: checked_hover_i_in 500ms forwards;
}
.menu .courses_main .courses__item--5:not(:hover) .courses__item--5__checked {
  animation: checked_hover_out 500ms forwards;
}
.menu .courses_main .courses__item--6 {
  display: flex;
  border-radius: 15px;
  background-color: white;
  margin: 1rem;
  overflow: hidden;
  animation: courses_items_appear 1000ms forwards;
  animation-delay: 600ms;
}
.menu .courses_main .courses__item--6__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-overflow: ellipsis;
}
.menu .courses_main .courses__item--6__content h3 {
  padding: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .courses_main .courses__item--6__content__description_and_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.menu .courses_main .courses__item--6__content__description_and_price h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .courses_main .courses__item--6__content__description_and_price p {
  margin: 0 1rem;
}
.menu .courses_main .courses__item--6__checked {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  overflow: hidden;
  animation: checked_hover_out 400ms forwards;
}
.menu .courses_main .courses__item--6__checked i {
  color: white;
  justify-content: center;
  align-items: center;
}
.menu .courses_main .courses__item--6:hover .courses__item--6__content {
  animation: content_hover_in 500ms forwards;
}
.menu .courses_main .courses__item--6:not(:hover) .courses__item--6__content {
  animation: content_hover_out 500ms forwards;
}
.menu .courses_main .courses__item--6:hover .courses__item--6__checked {
  min-width: 20%;
  animation: checked_hover_in 500ms forwards;
}
.menu .courses_main .courses__item--6:hover .courses__item--6__checked i {
  animation: checked_hover_i_in 500ms forwards;
}
.menu .courses_main .courses__item--6:not(:hover) .courses__item--6__checked {
  animation: checked_hover_out 500ms forwards;
}
.menu .courses_main .courses__item--7 {
  display: flex;
  border-radius: 15px;
  background-color: white;
  margin: 1rem;
  overflow: hidden;
  animation: courses_items_appear 1000ms forwards;
  animation-delay: 700ms;
}
.menu .courses_main .courses__item--7__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-overflow: ellipsis;
}
.menu .courses_main .courses__item--7__content h3 {
  padding: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .courses_main .courses__item--7__content__description_and_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.menu .courses_main .courses__item--7__content__description_and_price h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .courses_main .courses__item--7__content__description_and_price p {
  margin: 0 1rem;
}
.menu .courses_main .courses__item--7__checked {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  overflow: hidden;
  animation: checked_hover_out 400ms forwards;
}
.menu .courses_main .courses__item--7__checked i {
  color: white;
  justify-content: center;
  align-items: center;
}
.menu .courses_main .courses__item--7:hover .courses__item--7__content {
  animation: content_hover_in 500ms forwards;
}
.menu .courses_main .courses__item--7:not(:hover) .courses__item--7__content {
  animation: content_hover_out 500ms forwards;
}
.menu .courses_main .courses__item--7:hover .courses__item--7__checked {
  min-width: 20%;
  animation: checked_hover_in 500ms forwards;
}
.menu .courses_main .courses__item--7:hover .courses__item--7__checked i {
  animation: checked_hover_i_in 500ms forwards;
}
.menu .courses_main .courses__item--7:not(:hover) .courses__item--7__checked {
  animation: checked_hover_out 500ms forwards;
}
.menu .courses_main .courses__item--8 {
  display: flex;
  border-radius: 15px;
  background-color: white;
  margin: 1rem;
  overflow: hidden;
  animation: courses_items_appear 1000ms forwards;
  animation-delay: 800ms;
}
.menu .courses_main .courses__item--8__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-overflow: ellipsis;
}
.menu .courses_main .courses__item--8__content h3 {
  padding: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .courses_main .courses__item--8__content__description_and_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.menu .courses_main .courses__item--8__content__description_and_price h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .courses_main .courses__item--8__content__description_and_price p {
  margin: 0 1rem;
}
.menu .courses_main .courses__item--8__checked {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  overflow: hidden;
  animation: checked_hover_out 400ms forwards;
}
.menu .courses_main .courses__item--8__checked i {
  color: white;
  justify-content: center;
  align-items: center;
}
.menu .courses_main .courses__item--8:hover .courses__item--8__content {
  animation: content_hover_in 500ms forwards;
}
.menu .courses_main .courses__item--8:not(:hover) .courses__item--8__content {
  animation: content_hover_out 500ms forwards;
}
.menu .courses_main .courses__item--8:hover .courses__item--8__checked {
  min-width: 20%;
  animation: checked_hover_in 500ms forwards;
}
.menu .courses_main .courses__item--8:hover .courses__item--8__checked i {
  animation: checked_hover_i_in 500ms forwards;
}
.menu .courses_main .courses__item--8:not(:hover) .courses__item--8__checked {
  animation: checked_hover_out 500ms forwards;
}
.menu .courses_main .courses__item--9 {
  display: flex;
  border-radius: 15px;
  background-color: white;
  margin: 1rem;
  overflow: hidden;
  animation: courses_items_appear 1000ms forwards;
  animation-delay: 900ms;
}
.menu .courses_main .courses__item--9__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-overflow: ellipsis;
}
.menu .courses_main .courses__item--9__content h3 {
  padding: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .courses_main .courses__item--9__content__description_and_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.menu .courses_main .courses__item--9__content__description_and_price h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .courses_main .courses__item--9__content__description_and_price p {
  margin: 0 1rem;
}
.menu .courses_main .courses__item--9__checked {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  overflow: hidden;
  animation: checked_hover_out 400ms forwards;
}
.menu .courses_main .courses__item--9__checked i {
  color: white;
  justify-content: center;
  align-items: center;
}
.menu .courses_main .courses__item--9:hover .courses__item--9__content {
  animation: content_hover_in 500ms forwards;
}
.menu .courses_main .courses__item--9:not(:hover) .courses__item--9__content {
  animation: content_hover_out 500ms forwards;
}
.menu .courses_main .courses__item--9:hover .courses__item--9__checked {
  min-width: 20%;
  animation: checked_hover_in 500ms forwards;
}
.menu .courses_main .courses__item--9:hover .courses__item--9__checked i {
  animation: checked_hover_i_in 500ms forwards;
}
.menu .courses_main .courses__item--9:not(:hover) .courses__item--9__checked {
  animation: checked_hover_out 500ms forwards;
}
.menu .courses_main .courses__item--10 {
  display: flex;
  border-radius: 15px;
  background-color: white;
  margin: 1rem;
  overflow: hidden;
  animation: courses_items_appear 1000ms forwards;
  animation-delay: 1000ms;
}
.menu .courses_main .courses__item--10__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-overflow: ellipsis;
}
.menu .courses_main .courses__item--10__content h3 {
  padding: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .courses_main .courses__item--10__content__description_and_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.menu .courses_main .courses__item--10__content__description_and_price h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .courses_main .courses__item--10__content__description_and_price p {
  margin: 0 1rem;
}
.menu .courses_main .courses__item--10__checked {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  overflow: hidden;
  animation: checked_hover_out 400ms forwards;
}
.menu .courses_main .courses__item--10__checked i {
  color: white;
  justify-content: center;
  align-items: center;
}
.menu .courses_main .courses__item--10:hover .courses__item--10__content {
  animation: content_hover_in 500ms forwards;
}
.menu .courses_main .courses__item--10:not(:hover) .courses__item--10__content {
  animation: content_hover_out 500ms forwards;
}
.menu .courses_main .courses__item--10:hover .courses__item--10__checked {
  min-width: 20%;
  animation: checked_hover_in 500ms forwards;
}
.menu .courses_main .courses__item--10:hover .courses__item--10__checked i {
  animation: checked_hover_i_in 500ms forwards;
}
.menu .courses_main .courses__item--10:not(:hover) .courses__item--10__checked {
  animation: checked_hover_out 500ms forwards;
}
.menu .btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu .btn__order {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 50%;
  position: relative;
  z-index: 1;
  background: linear-gradient(#FF79DA, #9356DC);
  background-color: #FF79DA;
  color: white;
  font-size: smaller;
  border-radius: 15px;
  border: 0px;
  padding: 10px;
  margin: 3rem;
  box-shadow: 5px 5px 10px #D9D9D9;
}
.menu .btn__order:hover {
  opacity: 0.8;
  box-shadow: 15px 15px 15px #D9D9D9;
}
@media screen and (min-width: 1400px) {
  .menu .btn__order {
    width: 30%;
    font-size: medium;
  }
}

@keyframes courses_items_appear {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes content_hover_out {
  0% {
    width: 80%;
  }
  100% {
    width: 100%;
  }
}
@keyframes content_hover_in {
  0% {
    width: 100%;
  }
  100% {
    width: 80%;
  }
}
@keyframes checked_hover_out {
  0% {
    width: 20%;
    transform: translateX(0%);
  }
  100% {
    width: 0%;
    transform: translateX(100%);
  }
}
@keyframes checked_hover_in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes checked_hover_i_in {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.footer {
  background-color: #343434;
  padding: 0.5rem;
}
.footer h1 {
  font-family: "Shrikhand", cursive;
  color: white;
  padding: 1rem;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer ul {
  list-style-type: none;
  padding: 0px;
}
.footer li {
  margin: 1rem;
}
.footer li ::before {
  color: white;
  margin-right: 10px;
}

/*# sourceMappingURL=styles.css.map */
